[
  {
    "name": "DOCKER_REGISTRY_SERVER_PASSWORD",
    "value": "your_PAT_Access_token",
    "slotSetting": false
  },
  {
    "name": "DOCKER_REGISTRY_SERVER_URL",
    "value": "https://ghcr.io",
    "slotSetting": false
  },
  {
    "name": "DOCKER_REGISTRY_SERVER_USERNAME",
    "value": "your_github_username",
    "slotSetting": false
  },
  {
    "name": "NODE_ENV",
    "value": "production",
    "slotSetting": false
  },
  {
    "name": "WEBSITE_DYNAMIC_CACHE",
    "value": "0",
    "slotSetting": false
  },
  {
    "name": "WEBSITE_STATIC_CONTENT_SHARE",
    "value": "0",
    "slotSetting": false
  },
  {
    "name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE",
    "value": "false",
    "slotSetting": false
  },
  {
    "name": "WEBSITES_PORT",
    "value": "4321",
    "slotSetting": false
  }
]