[
  {
    "SECRET name": "GHCR_TOKEN",
    "value": "your_PAT_Access_token",
  },
  {
    "SECRET name": "AZURE_WEBAPP_PUBLISH_PROFILE",
    "value": "XML Value (download from Azure App Service Web App service.)",

  }
]